<VirtualHost *:80>
    ServerName {{ main_host }}
    DocumentRoot /vagrant/{{ app_dir_name }}
    ErrorLog ${APACHE_LOG_DIR}/{{ main_host }}-error.log
    CustomLog ${APACHE_LOG_DIR}/{{ main_host }}-access.log combined

    <Directory "/vagrant/{{ app_dir_name }}">
        Require all granted
    </Directory>
</VirtualHost>
